/* General Styling */
html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: white;
  cursor: url("./assets/electric-guitar.png") 16 16, auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  color: white;
  background-color: #ED1C24;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
}

.container {
  max-width: 1000px;
}

.text-red {
  color: #ED1C24;
}

.animated-red-text {
  display: inline-block;
  background: #111 -webkit-linear-gradient(120deg,
      transparent 40%,
      rgba(255, 255, 255) 45%,
      #ffffff 100%,
      rgba(255, 255, 255) 55%,
      transparent 60%) no-repeat 0 0 / 30px 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ED1C24;
  animation: sweep 2.5s ease-in infinite;
}

@keyframes sweep {
  0% {
    background-position: -100% -100%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.text-highlight-red {
  background-color: #ED1C24;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
}

@media screen and (max-width: 600px) {
  .no-mob {
    display: none;
  }
}

/* Entry Animation */
.curtain {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 9999;
  animation: openCurtain 2.5s ease-in-out forwards;
}

#curtain-left {
  left: 0;
  background-image: url('./assets/curtain-left.png');
  transform-origin: left;
}

#curtain-right {
  right: 0;
  background-image: url('./assets/curtain-right.png');
  transform-origin: right;
}

@keyframes openCurtain {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes openCurtain {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* Start Hero Section */
#hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url("./assets/hero-bg.png") no-repeat center center / cover;
  z-index: 11;
}

#hero-section .container {
  max-width: 1100px;
}

@media (min-width: 1150px) and (max-width: 1400px) {
  #hero-section .container {
    max-width: 1000px;
  }
}

@media (min-width: 900px) and (max-width: 1150px) {
  #hero-section .container {
    max-width: 800px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  #hero-section .container {
    max-width: 600px;
    padding: 100px 20px;
  }
}

#logo-ocbc-hero {
  width: 150px;
  height: 40px;
}

#hero-section h1 {
  font-weight: bold;
}

.parallax-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.parallax-images img {
  position: absolute;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

#hero-content {
  z-index: 10;
  background: rgb(240, 240, 240);
  color: #3F3F3F;
  padding: 50px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.08);
  max-width: 400px;
}

#sal-priadi {
  z-index: 2;
}

#vynil-4 {
  z-index: 3;
}

#beli-tiket-sekarang-btn {
  animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Start Video Section */
#video-section {
  text-align: center;
  color: #3F3F3F;
  background: url('./assets/stars.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.video-content {
  padding: 100px 30px;
  max-width: 1000px;
  margin: 0 auto;
}

#video-section iframe {
  width: 100%;
  height: 70vh;
  border-radius: 15px;
  margin-bottom: 40px;
}

.video-content h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

.video-text-content {
  background-color: #ececec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(129, 129, 129, 0.1), 0 6px 6px rgba(70, 70, 70, 0.08);
}

@media (min-width: 803px) and (max-width: 1027px) {
  .video-general-title-last {
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) and (max-width: 803px) {
  .video-general-title-last {
    margin-bottom: 25px;
  }

  .video-content {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 600px) {
  .video-general-title-last {
    margin-bottom: 25px;
  }

  .video-content {
    padding: 30px 20px;
  }

  #video-section iframe {
    width: 100%;
    margin-bottom: 30px;
    height: 50vh;
  }
}

/* Fitness Checkup */

#fitness-checkup {
  padding: 50px 30px;
}