/* General Styling */
html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: white;
  cursor: url("./assets/electric-guitar.png") 16 16, auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  color: white;
  background-color: #ed1c24;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
}

.container {
  max-width: 1000px;
}

.text-red {
  color: #ed1c24;
}

.animated-red-text {
  display: inline-block;
  background: #111 -webkit-linear-gradient(120deg,
      transparent 40%,
      rgba(255, 255, 255) 45%,
      #ffffff 100%,
      rgba(255, 255, 255) 55%,
      transparent 60%) no-repeat 0 0 / 30px 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ed1c24;
  animation: sweep 2.5s ease-in infinite;
}

@keyframes sweep {
  0% {
    background-position: -100% -100%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.text-highlight-red {
  background-color: #ed1c24;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
}

@media screen and (max-width: 600px) {
  .no-mob {
    display: none;
  }
}

/* Entry Animation */
.curtain {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 9999;
  animation: openCurtain 2.5s ease-in-out forwards;
}

#curtain-left {
  left: 0;
  background-image: url("./assets/curtain-left.png");
  transform-origin: left;
}

#curtain-right {
  right: 0;
  background-image: url("./assets/curtain-right.png");
  transform-origin: right;
}

@keyframes openCurtain {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes openCurtain {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

/* Start Hero Section */
#hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #A60002;
  z-index: 11;
}

#hero-section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #700002, transparent);
  z-index: 15;
}

#hero-section .container {
  max-width: 1100px;
}

@media (min-width: 1150px) and (max-width: 1400px) {
  #hero-section .container {
    max-width: 1000px;
  }
}

@media (min-width: 900px) and (max-width: 1150px) {
  #hero-section .container {
    max-width: 800px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  #hero-section .container {
    max-width: 600px;
    padding: 100px 20px;
  }
}

#logo-ocbc-hero {
  width: 150px;
  height: 40px;
}

#hero-section h1 {
  font-weight: bold;
}

.parallax-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.parallax-images img {
  position: absolute;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 1;
}

#hero-content {
  z-index: 10;
  background: rgb(240, 240, 240);
  color: #3f3f3f;
  padding: 50px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.08);
  max-width: 400px;
}

#sal-priadi {
  z-index: 2;
}

#vynil-4 {
  z-index: 3;
}

#beli-tiket-sekarang-btn {
  animation: upDown 1.5s ease-in-out infinite;
  color: white;
  background: linear-gradient(135deg, #ed1c24, #ee343b, #ffd700);
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Start Video Section */
#video-section {
  text-align: center;
  color: #3f3f3f;
  background-color: #EBEFF1;
  padding: 50px 30px 25px 30px;
}

.video-content {
  max-width: 1000px;
  margin: 0 auto;
}

#video-section iframe {
  width: 100%;
  height: 70vh;
  border-radius: 15px;
  margin-bottom: 40px;
}

.video-content h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

@media (min-width: 803px) and (max-width: 1027px) {
  .video-general-title-last {
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) and (max-width: 803px) {
  .video-general-title-last {
    margin-bottom: 25px;
  }

  .video-content {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 600px) {
  .video-general-title-last {
    margin-bottom: 25px;
  }

  .video-content {
    padding: 30px 20px;
  }

  #video-section iframe {
    width: 100%;
    margin-bottom: 30px;
    height: 50vh;
  }
}

/* Ruang Menyala */
#ruang-menyala {
  padding: 50px 30px;
}

.card-text {
  min-height: 150px;
}

.card img {
  width: 199px;
  height: 133px;
}

.swiper-pagination {
  margin-top: 20px;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #888;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}

/* Buka Nyala */
#buka-nyala {
  padding: 25px 30px;
}

.parallax-section {
  padding-bottom: 50px;
  background-color: #ebeff1;
}

.parallax-heading {
  text-align: center;
  padding: 0 30px 80px 30px;
  margin: 100px auto 0 auto;
  max-width: 1000px;
}

.parallax-heading .general-subtitle {
  margin-bottom: 10px;
}

.parallax-heading p {
  font-weight: 500;
}

.content h2 {
  margin-bottom: 20px;
  color: white;
}

.content p {
  margin-bottom: 20px;
}

.content-mobile {
  display: none;
}

.parallax-1 {
  background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/yang_paham_796697afa6.png");
}

.parallax-2 {
  background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/yang_pintar_45b874fd08.png");
}

.parallax-3 {
  background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/yang_aman_cf52516306.png");
}

.parallax-4 {
  background-image: url("https://on-c2-cmshub-public.s3.ap-southeast-3.amazonaws.com/yang_aman_cf52516306.png");
}

.parallax-1,
.parallax-3 {
  background-position: 75% 100%;
}

.parallax-2,
.parallax-4 {
  background-position: 25% 80%;
}

.parallax-1,
.parallax-2,
.parallax-3,
.parallax-4 {
  height: 90vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 30%;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
}

.content {
  width: 60%;
  margin: 0 auto;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  padding: 50px 40px;
  border-radius: 15px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.content-empty {
  opacity: 0;
}

.content-1 {
  background-color: #d32f2f;
}

.content-2 {
  background-color: #3a61a6;
}

.content-3 {
  background-color: rgb(240, 70, 192);
}

.content-4 {
  background-color: rgb(248, 217, 37);
}

@media (min-width: 900px) and (max-width: 1300px) {
  .content {
    width: 90%;
  }

  .parallax-1,
  .parallax-3 {
    background-size: 30%;
    background-position: 85% 80%;
  }

  .parallax-2,
  .parallax-4 {
    background-size: 30%;
    background-position: 25% 80%;
  }
}

@media screen and (max-width: 900px) {
  .content {
    width: 100%;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
  }

  .parallax-section {
    padding: 100px 0;
    background-color: #ebeff1;
  }

  .parallax-1,
  .parallax-2,
  .parallax-3 {
    height: 100%;
    margin-bottom: 30px;
  }

  .content-empty {
    display: none;
  }

  .content-mobile {
    display: block;
    text-align: center;
  }

  .content-mobile img {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
  }

  .parallax-1,
  .parallax-2,
  .parallax-3,
  .parallax-4 {
    background-image: none;
  }
}

/* KPR */
#kpr {
  padding: 50px 30px;
}

.kpr-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #A60002;
  color: white;
  border-radius: 15px;
  padding: 30px;
  min-height: 325px;
}

.kpr-item-wrapper-bigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #9C4E2B;
  color: white;
  border-radius: 15px;
  padding: 30px;
  min-height: 350px;
}


.kpr-icon {
  width: 150px;
  height: 150px;
}

.kpr-item {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.kpr-item:hover {
  transform: scale(1.05);
}

.kpr-detail {
  text-align: center;
  padding: 2rem;
}

.d-none {
  display: none;
}

.fade-transition {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.fade-show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.kpr-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}


/* Start Site Footer Section */
.site-footer-section {
  padding: 20px;
  background-color: #d32f2f;
  margin-bottom: 80px;
}

.site-footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.site-footer-content p {
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 750px) {
  .video-section {
    padding: 70px 20px;
    width: 100%;
    height: auto;
  }

  .site-footer-grid {
    grid-template-columns: 1fr;
  }

  .site-footer-content {
    text-align: center;
  }
}

/* End Site Footer Section */

/* Start Floating CTA */
#floating-cta {
  height: 80px;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  z-index: 999;
}

#floating-cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#floating-cta-text {
  margin: 0 !important;
}

#container-floating-img-text {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#floating-cta-img {
  max-width: 100px;
  margin-right: 20px;
}

#floating-cta-text {
  margin-right: 20px;
}

#floating-cta-btn {
  animation: upDown 1.5s ease-in-out infinite;
  color: white;
  background: linear-gradient(135deg, #ed1c24, #ee343b, #ffd700);
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 12px;
}

#floating-cta-btn:hover {
  transform: translateY(-10%);
}

@media screen and (max-width: 1150px) {
  .responsive-floating-cta {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  #floating-cta-text {
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  #floating-cta-btn {
    font-size: 12px;
  }
}

/* End Floating CTA */

/* Start Back to Top */
#back-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}

#back-to-top:hover {
  background-color: #b71c1c;
  transform: scale(1.1);
}

#back-to-top i {
  font-size: 20px;
}

@media screen and (max-width: 750px) {
  #back-to-top {
    width: 40px;
    height: 40px;
  }
}

/* End Back to Top */